$Primary: #f15946;


* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.4s ease-in-out;
  background-color: $Primary;
}

p{
  
  font-size: 18px;
}
h1{
  font-size: 30px;
}
h2, h3{
  font-size: 20px;
}

html,body,#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftcontainer {
  margin: 35vh auto;
  width: 50%;
  height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
}


.title{
  color: #fff;
  h1{
  font-size: 72px;
  margin-bottom: 0px;
    }
  h2{
    font-size: 42px;
    margin-top: 2vh;
  }
}

.centered {
  width: 50vh;
  margin: 50vh auto 60vh 47vh;
  h1{
    color: $Primary;
    font-size: 71px;
  }
  p{
    color: #fff;
    font-size: 30px;
  }

  justify-content: center;
  display: block;
}

.top{
  width: 100vh;
  margin: 0 auto 90vh auto;
  text-align: center;
  
  h1{
    color: $Primary;
    font-size: 72px;
    margin-bottom: 5px;
  }
  h2{
    color: #fff;
    font-size: 30px;
    margin-top: 0px;
    font-weight: 100;
  }
  p{
    color: #fff;
    font-size: 30px;
  }

  justify-content: center;
  display: block;
}






// .Skill{
  
//   margin: 0 3vh;
//   width: 27vh;
//   align-items: center;
//   h1{
//     font-size: 30px;
//     color: #f15946;
//   }
//   p{
//     font-weight: 100;
//     font-size: 20px;
//   }

// }

.icon{
  margin: 10px 5px 0 5px;
}

.SkillIcon{

    position: relative;
}
.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #272727;
}
.loading-bar {
  height: 32px;
  background: #f15946;
}

.spacer{
  aspect-ratio: 2560/1440;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1{
  background-image: url('./Assets/svg/layer1.svg');
}





.SkillContainer{
  width: 100%;
  height: 80vh;
  display: flex;
  background-image: url('./Assets/svg/Circle.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.SkillArea{
  background-image: url('./Assets/svg/Circle.svg');
  height: 50vh;
  width: 33vh;
  text-align: center;
  h2,h3{
    position: relative;
    color: $Primary;
    font-weight: bold;
    font-size: 30px;
  }
  h2{
    top: 20vh;
  }
  h3{
    top: 30vh;
  }

}


.Project{
  height: 30vh;
  width: 100%;
  display: flex;
  margin-top: 10vh;
  .Title{
    width: 40%;
    text-align: left;
    h3{
      margin-bottom: 0;
      color: $Primary;
      font-style: oblique;
      font-weight: 500;
      font-size: 22px;
    }
  
    p{
  
      font-size: 18px;
    }
    .Description{
      border-left: solid $Primary 4px;
      padding-left: 10px;
    }
  }
}

.ImageDisplay{
  margin-left: 10vh;
  width: 50%;
  background-color: #f15946;
  border-bottom: #f15946 solid 2px;
  
  img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.nav-links{
  font-size: 20px;
  nav {
    
    ul {
        margin: 0;
        padding: 0;
        display: flex;
    li {
        list-style: none;
        margin: 0 30px;
        &.btn {
        a {
            color: #fff;
            font-weight: 600;
            background: #23232a;
            padding: 16px 24px;
            border-radius: 10px;
        }
        }
        a {
            text-transform: capitalize;
            text-decoration: none;
            color: #fff;
        }
        }
    }
}
}

@media (max-width: 375px){
  .title{
    margin: auto auto;
    text-align: center;
    h1{
      font-size: 50px;
    }
    h2{
      font-size: 30px;
      font-weight: 300;
      margin-top: 0;
      padding-top: 0;
    }
  }
  .leftcontainer{
    width: 100%;
    align-items: center;
    justify-content: center;
    .nav-links{
      font-size: 20px;
      margin-left: auto;
      text-align: center;
      flex-wrap: wrap;
      ul{
        margin-left: 8vh;
        display: inline-block;
        text-align: center;
        text-align: center;
      }
      li{
        display:block;
        float: left;
        margin: 2vh 1vh 1vh 1vh;
        &.btn{
          margin: 5vh 11vh;
        }
      }
      padding: 0px;
    }
  }
  .centered{
    h1{
      font-size: 50px;
    }
  }
}


